@model LiveChat.Domain.ViewModels.RoleViewModel

<span class="btn btn-xs btn-primary remove-role" title="Remove role @Model.RoleName" 
    data-role-id="@Model.RoleId" data-user-id="@Model.UserId" 
    data-role-name="@Model.RoleName" data-user-name="@Model.UserName">
    <span>@Model.RoleName</span> 
    <span class="glyphicon glyphicon-minus"></span>
</span>